<title>
  <% if (locals.title){ %>
  <%= title %>
  <% } else { %>
  پویش مومنانه | سامانه هدفمندسازی مساعدتهای داوطلبانه جهادی
  <% } %>
</title>
<link rel="shortcut icon" href="/images/dastbedast.svg">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<!-- <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
<link rel='stylesheet' href='/bootstrap/css/bootstrap-reboot.min.css' />
<link rel='stylesheet' href='/bootstrap/css/bootstrap-grid.min.css' />

<script language="javascript" src="/jquery/jquery.min.js"></script>
<script language="javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script language="javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script> -->

<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/app.css' />
<link rel='stylesheet' href='/stylesheets/vendor.css' />

<!-- <script language="javascript" src="/javascripts/constant.js"></script> -->
<!-- <script language="javascript" src="/javascripts/vendor_app.bundle.js"></script> -->
<!-- <script language="javascript" src="/javascripts/vendor.js"></script> -->
<!-- <script language="javascript" src="/javascripts/app.js"></script> -->
